<h1>{{ selectedDate }}</h1>
<div *ngFor="let course of courses; let i = index">
  <mat-card class="appointment-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          ><h2>{{ course.name }}</h2></mat-card-title
        >
      </mat-card-title-group>
      <button mat-icon-button (click)="openDialog(template, appointments[i].id)">
        <mat-icon class="colored-icon">close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <div mat-subheader><mat-icon matListItemIcon>people</mat-icon></div>
        <p>{{courseRegistrations}}</p>
        <div *ngFor="let courseRegistration of courseRegistrations">
          {{courseRegistration.courseId}}
          <div *ngIf="courseRegistration.courseId === course.id">
            <div *ngFor="let registration of courseRegistration.registrations">
              <mat-list-item>
                <!-- <button mat-icon-button (click)="onDeleteRegistration(registration.id)">
                  <mat-icon class="colored-icon">close</mat-icon>
                </button> -->
                {{ registration.mom.firstName }} {{ registration.mom.lastName }}
                <!-- <mat-checkbox
                [checked]="registration.attended"
                (change)="setAll(registration.id, $event.checked)">
                </mat-checkbox> -->
              </mat-list-item>
            </div>
          </div>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<button mat-fab class="back-btn" (click)="onBack()">
  <mat-icon>arrow_back_ios_new</mat-icon>
</button>

<ng-template #template>
  <mat-card class="delete-confirm">
    <mat-card-content>
      <p>Bist du sicher?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="onCancel()">Nein</button>
      <button mat-flat-button color="warn" (click)="onDeleteAppointment()">
        Ja
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
