// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import '~firebaseui/dist/firebaseui.css';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,600,700";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-main: #f8bbd0;
  --color-text: #757575;
  --color-bg: #f5f5f5;
  --color-dark: #1f2124;
  --color-gray: #757575;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border: #e0e3e6;
}

html,
body {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-white);
}

/* BASE STYLES */
* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: none;
}

.base-icon {
  color: var(--color-gray);
}

.colored-icon {
  color: var(--color-main);
}

h1 {
  margin-bottom: 4vh !important;
}

.mdc-switch:enabled .mdc-switch__track::after {
  background: green !important;
}

.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: green !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691!important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  background-color: var(--color-main) !important;
  border-color: var(--color-main) !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
  background-color: var(--color-main);
}

.mdl-button--raised.mdl-button--colored {
  background-color: var(--color-main);
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: var(--color-light);
}

.mdc-line-ripple::after {
  border-bottom-color: var(--color-main) !important;
}

.mdc-floating-label--float-above {
  color: var(--color-text) !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--color-main) !important;
}